<nav class="navbar bg-dark navbar-expand-xl">
  <div class="container">
    <div class="nav-brand text-white me-3 my-1"> 
      <a routerLink="">
        <i class="fa fa-solid fa-globe fa-lg my-1 px-3 text-warning mx-1"></i>
       
      </a>
    </div>

      <button class="navbar-toggler bg-warning " type="button" data-bs-toggle="collapse" data-bs-target="#collapsible">
         <i class="navbar-toggler-icon"></i>
      </button>
      
      <div id="collapsible" class="collapse navbar-collapse">
        <ul class="navbar-nav me-auto">
          

          <li class="nav-item">
                <a routerLink="yakinbildirimformu" class="nav-link fw-bold text-white mx-1 my-1 p-2" >Yakın Bildirme Formu</a>
          </li>
          
          <li class="nav-item">
                <a routerLink="depremyardimsiteleri" class="nav-link fw-bold text-white mx-1 my-1 p-2" >Deprem Yardım Siteleri </a>
          </li>

          <li class="nav-item">
            <a routerLink="iletisim" class="nav-link fw-bold text-white mx-1 my-1 p-2" >Bizimle iletişime Geç</a>
          </li>
       
          <li class="nav-item d-flex ">
            <a routerLink="üyegiris" class="nav-link fw-bold text-white mx-1 my-1 p-2" ><i class="fa-solid fa-circle-user fa-lg me-2 text-primary"></i>Üye Giriş </a>
          </li>
    
         
          </ul>
       

        <form action="" class="d-flex mx-1 my-1">
                <input type="search" for="search" class="form-control me-1 my-1" placeholder="Search">
  
                <div class="">
                  <button class="btn btn-warning my-1">
                    <i class="fa-solid fa-magnifying-glass"></i>
                  </button>
                </div>
        </form>   
      
      </div>
      
    
    </div>
</nav>