
<div class="container-fluid">
    <div class="row ">
        <div class="col-auto col-md-4 col-xl-3 px-sm-2  " style="background-color: #151515;">
            <app-adminpanel-control></app-adminpanel-control>
        </div>
        <div class="col py-3">
            <div class="container my-2">
                <div class="row">

                    <div class="col-md-12">   
                        <div id="map" class="map-container col-md-12" #map style=" height: 100vh;"></div>
                    </div>
                </div>
                
    
    </div>
        </div>
    </div>
</div>







