<main>
    <div class="container my-2">
        <div class="row g-2">
            <div class="col-md-2"></div>
            <div class="col-md-8 me-auto">
                <div class="card bg-dark">
                    <div class="card-body">
                        <div class="alert alert-warning">Please fill out the form.
                        </div>
                        <form action="" class="row g-2 text-white p-4 rounded">
                            <div class="form-outline mb-4">
                                <label class="form-label" for="form1Example13">Adınız</label>
                                <input type="text" id="name" class="form-control form-control-md" />
                            </div>
                  
                            <div class="form-outline mb-4">
                                  <label class="form-label" for="form1Example13">Soyadınız</label>
                                  <input type="text" id="surname" class="form-control form-control-md" />
                            </div>
                            <div class="form-outline mb-4">
                                <label class="form-label" for="form1Example13">Telefon No Giriniz</label>
                                <input type="text" id="name" class="form-control form-control-md" />
                            </div>
                  
                            <div class="form-outline mb-4">
                                  <label class="form-label" for="form1Example13">Email Giriniz</label>
                                  <input type="text" id="surname" class="form-control form-control-md" />
                            </div>
                            <div class="col-md-12">
                                <label for="subject" class="form-label fw-bold">Konu</label>
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Konu Seçiniz</option>
                                    <option value="1">Yakınım Göçük Altında</option>
                                    <option value="2">Yakınım Kayboldu</option>
                                    <option value="3">Yakınımın Gıda,Barınma vs. İhtiyacı var</option>
                                </select>
                            </div>
                            <div class="col-md-12">
                                <label for="message" class="form-label fw-bold">Mesajınızı Giriniz:</label>
                                <textarea type="text" name="message" id="message" class="form-control p-3" placeholder=""></textarea>
                            </div>
                            <div class="col-md-12">
                                <button class="btn btn-warning mt-2 p-3" style="width: 100%;">Gönder</button>
                            </div>

                        

                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
            

        </div>
    </div>
</main>