<div class="container-fluid">
    <div class="row ">
        <div class="col-auto col-md-4 col-xl-3 px-sm-2  " style="background-color: #151515;">
            <div class="d-flex  align-items-center align-items-sm-start px-3 pt-2  rounded">
                
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start " id="menu">
                    
                    <li>
                        <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="fs-4  bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline text-light mb-4"><i class="fa-solid fa-chart-line me-2 fa-sm"></i>Kontrol Paneli</span> </a>
                        <ul class="collapse show nav flex-column ms-5" id="submenu1" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="#" class="nav-link px-0 "> <span class="d-none d-sm-inline text-light " ><i class=" fa-solid fa-arrow-right me-2 fa-sm"></i>Kategori Ekle</span> </a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0 "> <span class="d-none d-sm-inline text-light "><i class=" fa-solid fa-arrow-right me-2 fa-sm"></i>Yardım Sitesi Ekle</span>  </a>
                            </li>
                            <li>
                                <a routerLink="/adminpanel/userlist" class="nav-link px-0 "> <span class="d-none d-sm-inline text-light"><i class=" fa-solid fa-arrow-right me-2 fa-sm"></i>Kullanıcıları Düzenle</span>  </a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0 "> <span class="d-none d-sm-inline text-light"><i class="fa-solid fa-arrow-right me-2 fa-sm"></i>Yöneticileri Düzenle</span>  </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline text-light"><i class="bg-dark fa-solid fa-earth-africa me-2 fa-sm "></i>Deprem Haritası</span></a>
                    </li>
                    <li>
                        <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                            <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline text-light"><i class="fa-solid fa-table-columns me-2 fa-sm"></i>Talepler</span></a>
                        <ul class="collapse nav flex-column ms-5" id="submenu2" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline text-light"><i class="fa-solid fa-wheat-awn me-2 fa-sm"></i>Gıda Talebi</span> </a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline text-light" ><i class="fa-solid fa-tent me-2 fa-sm"></i>Barınma Talebi</span> </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline text-light"><i class="fa-regular fa-square-full me-2 fa-sm"></i>Alanı Yönet</span> </a>
                            <ul class="collapse nav flex-column ms-5" id="submenu3" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline text-light">Alan 1</span> </a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline text-light">Alan 2</span> </a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline text-light">Alan 3</span> </a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline text-light">Alan 4</span> </a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline text-light">Alan 4</span> </a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline text-light">Alan 4</span> </a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline text-light">Alan 4</span> </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline text-light"><i class="fa-solid fa-right-from-bracket me-2 fa-sm"></i>Çıkış Yap</span> </a>
                    </li>
                  
                </ul>
                <hr>
           
            </div>
        </div>
        <div class="col py-3">
            <div class="container my-3">
                <div class="card mb-3 p-1" *ngIf="user else noUser">
                    <div class="row">
                       
                        <div class="col-9">
                            <div class="card-body">
                                <p class="card-text"><label class="fw-bold">Kullanıcı Id: </label>{{ user.id }}</p>
                                <p class="cart-text"><label class="fw-bold">Kullanıcı TC No: </label>{{ user.tcnumber }}</p>
                                <p class="cart-text"> <label class="fw-bold">Kullanıcı Açık Parola: </label> {{ user.password }}</p>
                                <p class="cart-text"><label class="fw-bold">Kullanıcı Durumu: </label> {{ user.isActive }}</p>
                                <p class="cart-text"><label class="fw-bold">Kullanıcı Kayıt Zamanı: </label> {{ user.timestamp }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                
                <ng-template #noUser>
                    <div class="alert alert-warning">
                        no User
                    </div>
                </ng-template>
                </div>
        </div>
    </div>
</div>

