<section class="">
    <div class="container py-5 h-100">
      <div class="row d-flex align-items-center justify-content-center h-100 bg-dark text-light p-4 rounded">
        
        <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1 my-2 ">
          <form>
            <!-- Email input -->
            <div class="form-outline mb-4">
              <label class="form-label" for="form1Example13">Adınız</label>
              <input type="text" id="name" class="form-control form-control-md" />
            </div>

            <div class="form-outline mb-4">
                <label class="form-label" for="form1Example13">Soyadınız</label>
                <input type="text" id="surname" class="form-control form-control-md" />
              </div>
  
            <!-- Password input -->
            <div class="form-outline mb-4">
              <label class="form-label" for="form1Example23">TC No Giriniz</label>
              <input type="password" id="form1Example123" class="form-control form-control-md" />
            </div>
            <div class="form-outline mb-4">
                <label class="form-label" for="form1Example23">İrtibat(Telefon) Numaranızı Giriniz:</label>
                <input type="password" id="form1Example124" class="form-control form-control-md" />
              </div>

            <div class="form-group mb-4">
                <label for="sel1">Yakınlık Ferecenizi Giriniz:</label>
                <select class="form-control form-control-md" id="sel1">
                  <option>Birinci Dereceden Akrabası(Anne,Baba,Kardeş ,Çocuk ...)</option>
                  <option>İkinci Dereceden Akrabası</option>
                </select>
            </div>
            <div class="form-group mb-4">
                <label for="sel1">Yakın Sayınızı Giriniz:</label>
                <select class="form-control form-control-md" id="sel2">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                </select>
            </div>
            <div class="form-group mb-4">
                <label for="start">En son irtibat tarihi:</label>

                <input type="date" id="start" name="trip-start"
                       value="2023-02-12"
                       min="2023-02-01" max="2023-02-31"  class="form-control form-control-md">

               
            </div>
            <div class="form-group mb-4">
                <label for="start">En son irtibat saati:</label>

               
                <input type="time" id="appt" name="appt"
                value="00:01"
                min="00:00" max="23:59" required class="form-control form-control-md">

            </div>
  
            
  
            <!-- Submit button -->
           
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Kaydet</button>
                    
                
            
  
            
               
               
            
            
            
          </form>
        </div>
        <div class="col-md-4 col-lg-5 col-xl-6 my-2">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
              class="img-fluid" alt="Phone image">
          </div>
      </div>
    </div>
  </section>