<div class="container d-flex justify-content-center align-items-center">
  <h1 class="bg-light bg-gradient p-3"><span class=" fw-bold">Biz</span><span class="fw-bold text-danger"> Birlikte </span><span class="fw-bold ">Güçlüyüz.</span><div class="bg-danger mt-2 " style=" margin: auto;
    width: 35%;
    padding: 10px;
  "><i class="ms-3 fa-sharp fa-solid fa-moon fa-rotate-by text-light fa-lg " style="--fa-rotate-angle: 19deg"></i><i class="ms-1 fa-sharp fa-2xs fa-solid fa-star text-light"></i></div></h1>
</div>